/* Global */
$color-main: #222222;
$color-light: #ffffff;
$color-gold: #f9ca24;
$color-gray: #777777;
$font-text: 'Josefin Sans', sans-serif;
*, *::before, *::after {
	box-sizing: border-box;
}
body {
  margin: 0;
  text-align: center;
  background: $color-gold;
  color: #3d3d3d;
  font-size: 16px;
  font-family: $font-text;
  line-height: 1.7;
}
.box-center {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}
.column{
	display: flex;
  flex-direction: column;
}
.menu-ul li {
  display: inline;
  list-style-type: none;
  margin-right: 10px;
  margin-top: 5px;
}
.menu-ul li a i {
  font-size: 30px;
  background: #222222;
  width: 60px;
  height: 60px;
  border: 1px solid #222222;
  border-radius: 30px;
  color: #ffffff;
  padding-top: 15px;
}

.menu-ul li a i:hover {
  transform: scale(1.2, 1.2);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
section {
  padding-top: 50px;
  padding-bottom: 50px;
}
